
<div class="row">
    <div class="col-6">
        <input type="submit" asp-action="Details" readonly class="btn btn-danger form-control" value="Details" />
    </div>
    <div class="col-6">
        <a asp-action="Index" class="btn btn-success form-control">Back to list</a>
    </div>
</div>